button{
  font-size: 1rem;
  padding: 10px;
  border-radius: 7px;
  border: 2px solid white;
}
body{
  display: flex;
  justify-content: center;
  font-size: 2rem;
}
.card{
  display: flex;
  flex-direction: column;
  justify-content: center;
}